.d1{
background-color:red}

.d2{
background-color:yellow}

.d3{
background-color:blue}

.d4{
background-color:pink
}

.d1{
pointer-events:none
}

.d2{
pointer-events:none
}

.d3{
pointer-events:none
}

.d4{
pointer-events:auto
}

.d1:hover, .d2:hover, .d3:hover, .d4:hover {
background-color:purple;
}